body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.card {
    background: #1e1e1e;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.warning {
    color: red;
    font-weight: bold;
}

.hidden {
    display: none;
}
.copy-btn {
    background: #1fc7d4;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 0.8rem;
    transition: 0.3s;
}

.copy-btn:hover {
    background: #1aadb9;
}
